@implements IDisposable
@using happygames.Data.MartianChess

@page "/martianchess"
@attribute [Authorize]

<PageTitle>Echec Martien</PageTitle>

@if (isGame && board != null)
{
    <div class="d-flex flex-column">
        @for (int y = 0; y < board.verticalSize; y++)
        {
            <div class="d-flex flex-row">
                @for (int x = 0; x < board.horizontalSize; x++)
                {
                    string pawn = "";
                    if (board.boxes![y][x].pawn != null)
                    {
                        pawn = board.boxes[y][x].pawn!.pawn!;
                    }
                    bool isPossibleDisplace = !board.boxes[y][x].isPossibleDisplace;
                    CoordinateData coordinate = new CoordinateData{x = x, y = y};
                    <RadzenButton Style="height: 5rem; width: 5rem; border-radius: 0%;" Text=@pawn
            Click="() => displace(coordinate)" ButtonStyle="ButtonStyle.Secondary" Disabled=@isPossibleDisplace />
                }
            </div>
        }
    </div>
}
else
{
    <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
}