@using Microsoft.AspNetCore.SignalR.Client
@using happygames.Data.MartianChess
@using happygames.Hubs
@inject NotificationService NotificationService
@inject NavigationManager NavigationManager
@implements IDisposable

@page "/martianchess"
@attribute [Authorize]

<PageTitle>Echec Martien</PageTitle>

@if (isGame && board != null)
{
    <div class="container">
        @for (int y = 0; y < board.verticalSize; y++)
        {
            <div class="row">
                @for (int x = 0; x < board.horizontalSize; x++)
                {
                    string pawn = "";
                    if (board.boxes[y][x].pawn != null)
                    {
                        pawn = board.boxes[y][x].pawn!.pawn;
                    }
                    CoordinateData coordinate = new CoordinateData(x, y);
                    <div class="col">
                        <RadzenButton Style="height: 50px; width: 100%;" Text=@pawn Click="() => displace(coordinate)" />
                    </div>
                }
            </div>
        }
    </div>
}

@code {
    private HubConnection? hubConnection;
    private string? hubUrl;
    private BoardData? board;
    private bool isGame;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            string baseUrl = NavigationManager.BaseUri;
            hubUrl = baseUrl.TrimEnd('/') + MartianChessHub.HubUrl;
            hubConnection = new HubConnectionBuilder().WithUrl(hubUrl).Build();
            hubConnection.On<bool>("isGame", isGameSignalR);
            hubConnection.On<BoardData>("OnBoard", OnBoardSignalR);
            hubConnection.On<string, string>("OnNotificationError", OnNotificationError);
            hubConnection.On<string, string>("OnNotificationInfo", OnNotificationInfo);
            hubConnection.On<string, string>("OnNotificationSuccess", OnNotificationSuccess);
            hubConnection.On<string, string>("OnNotificationWarning", OnNotificationWarning);
            await hubConnection.StartAsync();
        }
        catch (Exception)
        {
            isGame = false;
        }
    }

    public void Dispose()
    {
        hubConnection!.StopAsync();
        hubConnection!.DisposeAsync();
    }

    private void isGameSignalR(bool isGame)
    {
        this.isGame = isGame;
        StateHasChanged();
    }

    private void OnBoardSignalR(BoardData board)
    {
        this.board = board;
        StateHasChanged();
    }

    private async Task displace(CoordinateData coordinate)
    {
        await hubConnection!.SendAsync("OnDisplace", coordinate);
    }

    private void OnNotificationError(string username, string message)
    {
        OnNotification(NotificationSeverity.Error, username, message);
    }

    private void OnNotificationInfo(string username, string message)
    {
        OnNotification(NotificationSeverity.Info, username, message);
    }

    private void OnNotificationSuccess(string username, string message)
    {
        OnNotification(NotificationSeverity.Success, username, message);
    }

    private void OnNotificationWarning(string username, string message)
    {
        OnNotification(NotificationSeverity.Warning, username, message);
    }

    public void OnNotification(NotificationSeverity notificationSeverity, string username, string message)
    {
        NotificationMessage notificationMessage = new NotificationMessage
        {
            Severity = notificationSeverity,
            Summary = username,
            Detail = message,
            Duration = 4000
        };
        NotificationService.Notify(notificationMessage);
    }
}
