@inject NavigationManager NavigationManager
@using happygames.Data

<div class="d-table position-fixed h-100 w-100">
    <div class="d-table-row">
        <div class="d-table-cell align-middle">
            <RadzenCard class="col-lg-5 position-relative" style="margin-left: auto; margin-right: auto;">
                <h2 class="mb-4">Inscription</h2>
                <RadzenTemplateForm TItem="RegisterModel" Data=@registerModel Submit=@OnSubmit>
                    <RegisterCivilityDisplay registerModel=@registerModel Style="margin-bottom: 1rem;" />
                    <RadzenButton Text="Annuler" ButtonStyle="ButtonStyle.Light" Click=@OnCancel />
                    <RadzenButton ButtonType="ButtonType.Submit" Text="Envoyer" ButtonStyle="ButtonStyle.Primary" />
                </RadzenTemplateForm>
            </RadzenCard>
        </div>
    </div>
</div>

@code {
    public bool Disable = false;

    RegisterModel registerModel = new RegisterModel();

    void OnSubmit()
    {
        Console.WriteLine(DateTime.Now.Year - registerModel.UserDate.Year);
    }

    void OnCancel() {
        NavigationManager.NavigateTo("/");
    }
}